@import url('https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$base-font: 'Inter';

.title-text {
    text-transform: capitalize;
}

.v-application {
    background-color: #e9ecef !important;

    font-family: $base-font, sans-serif !important;

    .title {
        font-family: $base-font, sans-serif !important;
    }
}

.v-card {
    border-radius: 8px !important;
}

.v-btn {
    text-transform: none;
}

.v-input--switch {
    display: inline-block;
}